/* Custom styles for layout */
.layout-wrapper {
    display: flex;
    height: 100vh; /* Full viewport height */
    overflow: hidden;
  }
  
  .layout-container {
    display: flex;
    flex: 1;
  }
  
  .layout-sidebar {
    width: 250px; /* Fixed width for sidebar */
    flex-shrink: 0; /* Prevent shrinking */
  }
  
  .layout-page {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full viewport height */
    overflow-y: auto; /* Allow vertical scrolling */
  }
  